

@media only screen and (max-width: 999px) {
    .bismillah{

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15vh 2vw 2vh 2vw;
    
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    
    
    .bismillah-bang{
 
        font-family: 'musta' !important;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2vh 5vw 2vh 5vw;
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    
    .bismillah-eng{

        font-family: 'dancing' !important;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2vh 5vw 2vh 5vw;
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    
    
    .bismillah-img{
        width: 95%;
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }


}

@media only screen and (min-width: 1000px) {
    .bismillah{

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15vh 10vw 2vh 10vw;
    
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    
    
    .bismillah-bang{
        font-family: 'musta' !important;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2vh 5vw 2vh 5vw;
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    
    .bismillah-eng{
        font-family: 'dancing' !important;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2vh 5vw 2vh 5vw;
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    
    
    .bismillah-img{
        width: calc(100% - 80px);
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }


}

.manadala-section{
    width: 100vw;
    display: flex; 
    justify-content: space-between;

}

.manadala-middle-section{

    width: 50vw;
}