

  <div class="hands">
  <div style="z-index: 4;" class="left-finger"><img src="../../../assets/images/left-hena.svg" class="finger-img"/></div>
  <div style="z-index: 3;"  class="left-finger"><img src="../../../assets/images/left-hena.svg" class="finger-img"/></div>
  <div style="z-index: 2;" class="left-finger"><img src="../../../assets/images/left-hena.svg" class="finger-img"/></div>
  <div style="z-index: 1;" class="left-finger"><img src="../../../assets/images/left-hena.svg" class="finger-img"/></div>

  <div style="z-index: 4;" class="right-finger"><img src="../../../assets/images/right-hena.svg" class="finger-img"/></div>
  <div style="z-index: 3;" class="right-finger"><img src="../../../assets/images/right-hena.svg" class="finger-img"/></div>
  <div style="z-index: 2;" class="right-finger"><img src="../../../assets/images/right-hena.svg" class="finger-img"/></div>
  <div style="z-index: 1;" class="right-finger"><img src="../../../assets/images/right-hena.svg" class="finger-img"/></div>

  </div>