
.hands{
  width: 100%;
  max-width: 100vw;
  height: 70vw;
position: relative;
}

.left-finger{
position: absolute;
}

.right-hand{
  width: 100%;
  max-width: 100vw;
  height: 100vw;
  position: relative;
}

.right-finger{
  position: absolute;
}

.finger-img{
width:15vw;
}