$color-wing: pink;

$color-background: #d6c18b;
$color-twitter: #4099FF;
$main-col: rgb(203, 30, 255);
$color-sub-wing: lighten($main-col, 10%);
html {
    box-sizing: border-box;  
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    align-items: center;
    background: $color-background;
    display: flex;
    justify-content: center;
    perspective-origin: 50% 50%;
    perspective: 800px;
}

.butterfly {
    animation: hover 250ms cubic-bezier(.48,.01,.54,1) infinite;
    animation-direction: alternate;
    animation-fill-mode: reverse;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(50deg) rotateY(20deg) rotateZ(-50deg) translateY(0px);
    width: 30*0.3px;
    
    &::before {
        background: transparent;
        border-radius: 50%;
        content: '';
        display: block;
        height: 110*0.3px;
        left: 50%;
        margin-left:-10px;
        outline: 1px solid transparent;
        position: absolute;
        top: -15*0.3px;
        transform: rotatey(100deg);
        width: 20*0.3px;
        z-index: 2;
    }
}



.wing {
    background: #888;
    display: block;
    opacity: 0.5;
    outline: 1px solid transparent;
    position: absolute;
    top: 0;
    
    &:first-child {
        animation: leftflap 150ms cubic-bezier(.48,.01,.54,1) infinite;
        animation-direction: alternate;
        animation-fill-mode: reverse;
        height: 1px;
        left: 0;
        transform: rotateY(-20deg);
        transform-origin: 700% 50%;
        width: 1px;
        z-index: 3;
    }
    
    &:last-child {
        animation: rightflap 150ms cubic-bezier(.48,.01,.54,1) infinite;
        animation-direction: alternate;
        animation-fill-mode: reverse;
        right:0;
        transform: rotateY(200deg);
        z-index: 1;
    }
    
    .bit {
        background: $main-col;
    }
    .bit::after {
        background: $color-sub-wing;
    }
    
    .bit, .bit::after {
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: 100% 50%;
    }
    
    .bit:first-child {
        height: 70*0.3px;
        text-align: center;
        top: 15*0.3px;
        transform: rotateZ(40deg);
        width: 130*0.3px;
        
        &::after {
            content: '';
            display: inline-block;
            height: 60*0.3px;
            left: -30*0.3px;
            top: 5*0.3px;
            width: 100*0.3px;
        }
    }
    
    .bit:last-child {
        height: 55*0.3px;
        transform: rotateZ(-40deg);
        width: 100*0.3px;
        
        &::after {
            content: '';
            display: inline-block;
            height: 45*0.3px;
            left: -24*0.3px;
            top: 5*0.3px;
            width: 60*0.3px;
            z-index:1;
        }
    }
}

@keyframes hover {
    0% {
        transform: rotateX(50deg) rotateY(20deg) rotateZ(-50deg) translateZ(0px);
    }

    100% {
        transform: rotateX(50deg) rotateY(20deg) rotateZ(-50deg) translateZ(-3px);
    }
}

@keyframes shadow {
    0% {
        transform: translateX(-40px) translateY(100px) scale(1,1);
    }

    100% {
        transform: translateX(-40px) translateY(100px) scale(1.1,1.1);
    }
}

@keyframes leftflap {
    0% {
        transform: rotateY(-20deg);
    }

    100% {
        transform: rotateY(90deg);
    }
}

@keyframes rightflap {
    0% {
        transform: rotateY(200deg);
    }

    100% {
        transform: rotateY(90deg);
    }
}


// .twitter {    
//     background: $color-twitter;
//     border-radius: 5px;
//     bottom: 5px;
//     color: #fff;
//     font-family: sans-serif;
//     font-size: 13px;
//     padding: 5px 10px;
//     position: absolute;
//     right: 5px;
//     text-decoration: none;
    
//     &:hover {
//         background: lighten($color-twitter,3%);
//     }
// }