<div class = "gluster">


    <div class = "lightBulb green string1"></div>
    <div class = "lightBulb blue string1"></div>
    <div class = "lightBulb red string1"></div>
    <div class = "lightBulb green string1"></div>
    <div class = "lightBulb blue string1"></div>
    <div class = "lightBulb red string1"></div>
    <div class = "lightBulb green string1"></div>
    <div class = "lightBulb blue string1"></div>
    <div class = "lightBulb red string1"></div>
    <div class = "lightBulb green string1"></div>
    <div class = "lightBulb blue string1"></div>
    <div class = "lightBulb red string1"></div>
    <div class = "lightBulb green string1"></div>
    <div class = "lightBulb blue string1"></div>
    <div class = "lightBulb red string1"></div>

<div><img src="../../../assets/images/tent.png" style="width: 100%;"></div>

</div>

