    .bismillah-arab{

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

      
    }
    
    .none-select{
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    .bismillah-bang{
 
        font-family: 'musta' !important;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .bismillah-eng{

        font-family: 'dancing' !important;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    

    .letter-eng{

        font-family: 'dancing' !important;
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:justify;
    }
    
    .bismillah-img{
        width: 95%;
    }

    section {
        height: 100vh;
        width: 100%;
        position: relative;
        padding: 0;

      
    }
    .mandala-img{
        width: 10vw;
    }
    
    
    .mandala{
    
        display: flex;
    }
    
    
      
///////////////////
/// 
/// 



.cluster{position:relative; width:100%; max-width:874px; height:792px; margin:100px auto; background-color:transparent; padding-bottom:100px;}

.clusterPieces{position:absolute;}

.circle{width:100%; max-width:50vw; height:50px; background-color:#c56666; left:214px; bottom:0; z-index:4;}

.dotsBlue{width:100%; height:auto; max-width:50vw; z-index:3; left:0; //top:80px;
}

.owlHorned{width:100%;
      height:auto;
      max-width:50vw;

       // top:0; 
       // right:0;
         z-index:2;}

.caption{font-family: 'Open Sans', sans-serif; font-size:14px; line-height:16px; color:#fc659e; text-align:right;}
.caption span{color:#ffffff;}
