$globe-width:   1vw;
$globe-height:  1vw;
$globe-spacing: .2vw;
$globe-spread: 3px;
$light-off-opacity: 0.4;

.gluster {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 70vw;

}

.lightBulb{
    position: absolute;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    margin: 0;
    padding: 0;
    display: block;

    width: 100%;
    max-width:$globe-width;
    height: $globe-height;
  //  width: $globe-width;
 //  height: $globe-height;

    border-radius: 100%;
    margin: $globe-spacing/2;
    display: inline-block;


}

.odd{
    animation-duration: 1.8s;
}

.setx{
    animation-duration: 1.4s;
}

.green{
    background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);
    animation-name: flash-1;
    animation-duration: 2s;
}
.red{
    background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
    animation-name: flash-3;
    animation-duration: 1.1s;
}

.blue{
    background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
}


@keyframes flash-1 { 
    0%, 100% { background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);} 
    50% { background: rgba(0,247,165,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.2);}
}
@keyframes flash-2 { 
    0%, 100% { background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,1);} 
    50% { background: rgba(0,255,255,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.2);}
}
@keyframes flash-3 { 
    0%, 100% { background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);} 
    50% { background: rgba(247,0,148,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
}