
input[type="color"] {

	border: none;
	width: 20px;
	height: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}





.form-control{

  border-radius: 0px;
  font-size: 13px;

}

.form-control:focus {
  border-color: var(--field-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--field-color-accent);
}
.col-form-label-sm{
  font-size: 13px;
  font-weight: 500;
}

.mini-label{
  font-size:10px;
  font-weight: 500;
  color: #888;
  border-bottom:1px solid #e5e5e5
  
}


.border-design{
  padding: 5px;
  margin:5px ;

}

.border-design:hover{
  background-color: #e5e5e5;
}

.border-design-selected{
  background-color: #e5e5e5;
}

.small-component{
    padding: 5px 10px 0px 10px;
    border: 1px solid rgb(235, 235, 235);
    margin: 10px 0px 10px 0px;
    border-radius: 8px;}

.scroll{
    overflow-y:auto ;
    height: 20vh;
  
}

.point{
    cursor: pointer;
}


.btn-designer{
  
    background: white;
    color: #594545;
    border: white;
    border-radius: 0px;
    width: 80px;
    font-size:15px;

}

.btn-designer:hover{
  background: rgb(235, 235, 235);
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  .group-border{
    border: 1px solid #7ED7C1;
  }

  .row-border{
    border: 1px solid #DC8686;
  }

.field-border{
  border: 1px solid #554994;
}
.container-border{
  border: 1px solid #80558C;
}