.small-component{
    padding: 0px 10px 0px 10px;
    border: 1px solid rgb(235, 235, 235);
    margin: 10px 0px 10px 0px;
    border-radius: 8px;}

.scroll{
    overflow-y:auto ;
    height: 20vh;
  
}

.point{
    cursor: pointer;
}


.btn-designer{
  
    background: white;
    color: #594545;
    border: white;
    border-radius: 0px;
    width: 80px;
    font-size:15px;

}

.btn-designer:hover{
  background: rgb(235, 235, 235);
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  .group-border{
    border: 1px solid #7ED7C1;
  }

  .row-border{
    border: 1px solid #DC8686;
  }

.field-border{
  border: 1px solid #554994;
}
.container-border{
  border: 1px solid #80558C;
}