<div>
    <label class="col-sm-2 col-form-label col-form-label-sm">Radio</label>
    <div class="col-sm-12 form-control-sm">
        <div class="form-check  form-check-inline">
            <input class="form-check-input form-check-input-sm" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label form-check-label-sm" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-sm" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label form-check-label-sm" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-sm" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label form-check-label-sm" for="inlineRadio3">3</label>
          </div>

    </div>
</div>
