.form-select{

    border-radius: 0px;
    font-size: 13px;

}

.form-select:focus {
    border-color: var(--field-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--field-color-accent);
  }
.col-form-label-sm{
    font-size: 13px;
    font-weight: 500;
}

.component-parent{
    padding:0px 5px 0px 5px; 
}