

<div class="mandala-r">
	<img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
	<img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
	<img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
	<img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img2"  />
</div>

