/* Importing Bootstrap SCSS file. */

.global-view{
    position: relative;

}

.flyers{
    position:absolute; 
    z-index: 999999;
}



// *{
//     pointer-events: none;
//     -webkit-user-select: none;
//     /* Safari */
//     -ms-user-select: none;
//     /* IE 10 and IE 11 */
//     user-select: none;
// }

