
<div class="container">


    <div class="row"></div>
    <div class="row r3">
        <div class="col-md-12 bismillah-arab none-select msg1">
            <img src="../../../assets/images/bismillah.svg" alt="bismillah" class="bismillah-img" />
        </div>
    </div>
    <div class="row r5">
        <div class="col-md-12 bismillah-bang none-select msg2">বিসমিল্লাহির রাহমানির রাহীম </div>
    </div>
    <div class="row r6">
        <div class="col-md-12 bismillah-eng none-select msg3">In the Name of Allah, the Benevolent, the Merciful</div>
    </div>
    <div class="row"></div>

    <div class="row r7">
        <div class="col-md-12 letter-eng">
            <div class="mandala">
                <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img" />
            </div>
        </div>
    </div>

    <div class="row r8">
        <div class="col-md-6 cntr">
            <div class="cluster">
                <img class="owlHorned clusterPieces" src="../../../assets/images/op_back_o_k.png" />
                <img class="dotsBlue clusterPieces" src="../../../assets/images/op_front_o.png" />
            </div>

        </div>
        <div class="col-md-6 letter-eng-2">

         <span class="salam">As-Salamu Alaykum </span><span class="salam" *ngIf="guestModel">{{guestModel.firstGuest}}</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer
    
        </div>

    </div>

    <div class="row r7">
        <div class="col-md-12 letter-eng">
            <div class="mandala">
                <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img" />
            </div>
        </div>
    </div>

    <div class="row r9">

        <div class="col-md-12 letter-eng">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>

    <div class="row r10">
        <div class="col-md-12" >
           <app-fairy-lights></app-fairy-lights>
        </div>
    </div>



    <div class="row r11">

        <div class="col-md-12 letter-eng">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>

    
    <div class="row r12">

        <div class="col-md-12 letter-eng">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    <div class="row r13">
        <div class="col-md-12" >
<app-reveal></app-reveal>
        </div>
    </div>
    <div class="row r14">

        <div class="col-md-12 letter-eng">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    <div class="row r15">

        <div class="col-md-12 letter-eng">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    <div class="row r16">

        <div class="col-md-12 letter-eng">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
</div>