
@media screen and (max-width: 767px) {
    .letter-eng-2 {
    
        font-family: 'dancing' !important;
        font-size: 5vw;
        text-align: justify;
    }

    .row{
        margin: 1rem 0rem 1rem 0rem;
    }
    
}

@media screen and (min-width: 768px) {
    .letter-eng-2 {
        
        font-family: 'dancing' !important;
        font-size: 3vw;
        text-align: justify;
    }
    .row{
        margin: 5rem 0rem 5rem 0rem;
    }
    
}
.salam{

    font-weight: 600;
}

.bismillah-arab {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.none-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.bismillah-bang {

    font-family: 'musta' !important;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}





.bismillah-eng {

    font-family: 'dancing' !important;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.letter-eng {

    font-family: 'dancing' !important;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}



.bismillah-img {
    width: 95%;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;


}

.mandala-img {
    width: 50vw;
}


.mandala {

    display: flex;
}






.cluster {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 50vw;
    height: 50vw;

}

.clusterPieces {
    position: absolute;
}

.dotsBlue {
    width: 100%;
    max-width: 50vw;
    height: auto;
    z-index: 2;

}

.owlHorned {
    width: 100%;
    max-width: 50vw;
    height: auto;
    z-index: 1;
}

.cntr {
    display: flex;
    justify-content: center;
}

.no-side-space{
    padding: 0px !important;
    margin: 0px !important;
}

