<div class="container">

    <div class="row"></div>
    <div class="row r1">
        <div class="col-md-12 bismillah-arab none-select msg1">
            <img src="../../../assets/images/bismillah.svg" alt="bismillah" class="bismillah-img" />

        </div>
    </div>
    <div class="row r2">
        <div class="col-md-12 bismillah-bang none-select msg2">বিসমিল্লাহির রাহমানির রাহীম </div>
    </div>
    <div class="row r3">
        <div class="col-md-12 bismillah-eng none-select msg3">In the Name of Allah, the Benevolent, the Merciful</div>
    </div>
    <div class="row"></div>
    <div class="row r4">
        <div class="col-md-12 letter-eng" style="margin-bottom: 80px;margin-top: 80px;">
            <div class="mandala">
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
            </div>
        </div>
    </div>

    <div class="row r5">
        <div class="col-md-12 cntr">
            <div class="cluster">
                <img class="coupleBackground clusterPieces" src="../../../assets/images/op_back_comp.png" />
                <img class="couple clusterPieces" src="../../../assets/images/op_front_comp.png" />
            </div>

        </div>
    

    </div>
    <div class="row r6">
   
        <div class="col-md-12 letter-eng-2">

          <div class="salam" >As-Salamu Alaykum</div>   
          <div>
            Respected dear and near ones, We are delighted to announce that Sabrina and Tanjilul
            are ready to tie the knot with your prayers and endless love. 
            A relationship of purity. 
            A union of two souls. 
            Let's join them and celebrate their special day

          </div> 
        </div>

    </div>
    <div class="row r7">
        <div class="col-md-12 letter-eng" style="margin-bottom: 80px;margin-top: 80px;">
            <div class="mandala">
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
            </div>
        </div>
    </div>

  
    <div class="row r8">
        <div class="col-md-12 no-side-space">
<app-haldi-flower></app-haldi-flower>
        </div>
    </div>



    <div class="row r9">
   
        <div class="col-md-12 letter-eng-2">

          <div class="headline" >Haldi Ceremony</div>   
          <div>
           In a lively and festive haldi ceremony we invite you to delight us with your presence
          </div> 
        </div>
        <div class="col-md-12 letter-eng-2 cntr-col">
            <div>DDS Club </div>
            <div>22nd November 2023 </div>
            <div>starts 8:30PM </div>
            <div><a class="location" href="https://maps.app.goo.gl/EYzSTdmpj9Dbkbyu8">tap to see location on maps</a></div>

         </div>
    </div>


    <div class="row r10 trig-haldi ">
        <div class="col-md-12 no-side-space">
            <app-haldi></app-haldi>
        </div>
    </div>

    <div class="row r11" style="margin-bottom: 80px;margin-top: 80px;">
        <div class="col-md-12 letter-eng">
            <div class="mandala">
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
            </div>
        </div>
    </div>
   
    <div class="row r12 trig-mehedi" >
        <div class="col-md-12 no-side-space">
            <!-- <app-reveal></app-reveal> -->
            <!-- <app-test></app-test> -->
        </div>
    </div>


    <div class="row r13">
   
        <div class="col-md-12 letter-eng-2">

          <div class="headline" >Mehedi Ceremony</div>   
          <div>
          Join us and paint our wedding eve with patterns of love and tradition
          </div> 
        </div>
        <div class="col-md-12 letter-eng-2 cntr-col">
            <div>Brides Home </div>
            <div>23rd November 2023 </div>
            <div>starts 8:30PM </div>
         </div>
    </div>


    <div class="row r14" style="margin-bottom: 80px;margin-top: 80px;">
        <div class="col-md-12 letter-eng">
            <div class="mandala">
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
            </div>
        </div>
    </div>


    <div class="row r15">

        <div class="col-md-12 no-side-space">
            <app-niqah></app-niqah>
        </div>
    </div>

    <div class="row r16" >
   
        <div class="col-md-12 letter-eng-2">

          <div class="headline" >NiQah Ceremony</div>   
          <div>
          Join us and pray for our pledge for life to each other in the name of The Almighty
          </div> 
        </div>
        <div class="col-md-12 letter-eng-2 cntr-col">
            <div>Rajarbagh Party Center </div>
            <div>24th November 2023 </div>
            <div>starts 7:30PM </div>
            <div><a class="location" href="https://maps.app.goo.gl/hpUf9eBcWUe6YfqU8">tap to see location on maps</a></div>
         </div>
    </div>



    <div class="row r17" style="margin-bottom: 80px;margin-top: 80px;">
        <div class="col-md-12 letter-eng">
            <div class="mandala">
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
            </div>
        </div>
    </div>


    <div class="row r18">

        <div class="col-md-12 no-side-space">
      <div class="walima">Sabrina & Tanjilul</div>
        </div>
    </div>

    <div class="row r19" >
   
        <div class="col-md-12 letter-eng-2">

          <div class="headline" >Walima Ceremony</div>   
          <div>
          Join us and pray for our pledge for life to each other in the name of The Almighty
          </div> 
        </div>
        <div class="col-md-12 letter-eng-2 cntr-col">
            <div>Rajarbagh Party Center </div>
            <div>25th November 2023 </div>
            <div>starts 7:30PM </div>
            <div><a class="location" href="https://maps.app.goo.gl/hpUf9eBcWUe6YfqU8">tap to see location on maps</a></div>
         </div>
    </div>

    <div class="row r20" style="margin-bottom: 80px;margin-top: 80px;">
        <div class="col-md-12 letter-eng">
            <div class="mandala">
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
                <img src="../../../assets/images/mandala-opt.svg" alt="mandala" class="mandala-img" />
            </div>
        </div>
    </div>
</div>

