<div class="uster">
   <img class="gazra usterPieces" src="../../../assets/images/gazra-sup.png" /> 
    <img class="leaf l001 usterPieces" src="../../../assets/images/left-leaf.png" />
    <img class="leaf l002 usterPieces" src="../../../assets/images/right-leaf.png" />
    <img class="leaf l003 usterPieces" src="../../../assets/images/left-leaf.png" />
    <img class="leaf l004 usterPieces" src="../../../assets/images/right-leaf.png" />
    <img class="leaf l005 usterPieces" src="../../../assets/images/left-leaf.png" />
    <img class="leaf l006 usterPieces" src="../../../assets/images/right-leaf.png" />
</div>