

  #bigStuff {

    opacity: 0;
  }
  
  .leave-1 {
    width: 100%;
    height: 100%;
    bottom: -3vw;
    left: -3vw;
  }
  .leave-2 {
    bottom: -3vw;
    right: -3vw;
    width: 100px;
    transform: scale(-1, 1);
  }
  
//  #rightLeave { 

//  }
//  #leftLeave{ 
 
// }