<div class="pluster">
  <img class="left-hand plusterPieces" src="../../../assets/images/left-hena.png" />
  <img class="right-hand plusterPieces" src="../../../assets/images/right-hena.png" />    
  <img class="lv1 plusterPieces" src="../../../assets/images/meh-leaves.png" />    
  <img class="lv2 plusterPieces" src="../../../assets/images/meh-leaves.png" />    
  <img class="lv3 plusterPieces" src="../../../assets/images/meh-leaves.png" />    
  <img class="lv4 plusterPieces" src="../../../assets/images/meh-leaves.png" /> 
  <img class="lv5 plusterPieces" src="../../../assets/images/meh-leaves.png" />    
  <img class="lv6 plusterPieces" src="../../../assets/images/meh-leaves.png" />   
</div>