/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';



html { 
 // background-image: linear-gradient(rgb(244, 233, 255) 16% , rgb(255, 238, 0) ,rgb(0, 155, 46),rgb(175, 24, 49),rgb(255, 245, 233));
  background-color: rgb(255, 245, 233);
}
// html {
//   --s: 2vw; /* control the size */
  
//   --_g: #ffffff00 83%,#b09f7921 85% 99%,#ffffff00 101%;
//   background:
//     radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
//     radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
//     radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
//     radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
//     #ffffff;
//   background-size: calc(2*var(--s)) calc(2*var(--s));
// }

body {height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;    background-color:transparent; }




// @font-face {
//   font-family: dancing;
//   src: url('./assets/fonts/DancingScript-SemiBold.woff') format("opentype");
// }
// @font-face {
//   font-family: dancing-bold;
//   src: url('./assets/fonts/DancingScript-Bold.woff') format("opentype");
// }
@font-face {
  font-family: stadella;
  src: url('./assets/fonts/Stadella.woff') format("opentype");
}