

<div class="mandala">
	<img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
	<img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
	<img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
	<img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
    <img src="../../../assets/images/mandala.svg" alt="mandala" class="mandala-img"  />
</div>

